<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>花好约猿︱媛</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link rel="stylesheet" type="text/css" href="./css/ui.css" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <meta name="title" content="Tadpole" />
    <meta name="description" content="" />
</head>

<body>
    <canvas id="canvas"></canvas>

    <div id="ui">
        <div id="fps"></div>

        <input id="chat" type="text" autofocus="autofocus"/>
        <div id="chatText"></div>

        <div id="instructions">
            直接打字开始聊天~
        </div>

        <!-- new -->
        <div id="online-users">
            <div class="header">
                <h3>在线列表</h3>
                <div @click.stop="toggleOnlineUsers">{{ showOnlineUsersText }}</div>
            </div>
            <span>在线：{{ onlineCount }}只</span>
            <div class="users" v-if="showOnlineUsers">
                <template v-for="(user,index) in onlineUsers">
                    <div class="user" :key="index">
                        <div @click.stop="toUserPos(user.user)" class="name"><span title="点击瞬移到玩家身边"
                                class="name">{{ user.name }}</span><span
                                class="pos">[{{ user.user.x | parseInt }},{{ user.user.y | parseInt }}]</span>
                        </div>
                        <div class="follow" @click.stop="onClickFollowUser(user)"
                            v-if="followUser==null || user.id !== followUser.id">跟随
                        </div>
                        <div class="follow" @click.stop="onClickAroundUser(user)"
                            v-if="followUser==null || user.id !== followUser.id">环绕
                        </div>
                        <div class="cancel-follow" @click.stop="onClickCancelFollow" v-else-if="type == 'follow'">取消跟随
                        </div>
                        <div class="cancel-follow" @click.stop="onClickCancelFollow" v-else>取消环绕</div>

                        <!-- <div class="follow" @click.stop="onClickDelUser(user)"
                                v-if="delUser==null || user.id !== delUser.id">屏蔽
                            </div>
                            <div class="cancel-follow" @click.stop="onClickCancelDack(user)" v-else>取消屏蔽</div> -->
                    </div>
                </template>
            </div>

        </div>
        <div id="world">
            <div class="header">
                <h3>世界动态</h3>
                <div @click.stop="toggleMessages">{{ showText }}</div>
            </div>
            <div class="logs" ref="messages" v-if="showMessages">
                <template v-for="(message,index) in messages">
                    <div class="message" v-if="message.type === 'message'" :key="index">
                        <div><span @click.stop="toUserPos(message.user)" title="点击瞬移到玩家身边"
                                class="name">{{ message.user.name }}</span><span title="点击前往"
                                @click.stop="setTarget(message.message.x,message.message.y)"
                                class="pos">[{{ message.message.x }},{{ message.message.y }}]</span>:
                            <span class="content"
                                v-bind:urlFlag="dealWithFlag(message.message.content)">{{ message.message.content }}</span>
                        </div>
                    </div>
                    <div class="connect" v-if="message.type === 'connect'" :key="index">
                        <span class="name" @click.stop="toUserPos(message.user)">{{ message.user.name }}</span>进入了池塘
                    </div>
                    <div class="disconnect" v-if="message.type === 'disconnect'" :key="index">
                        {{ message.message }}
                    </div>
                </template>
            </div>
        </div>
        <!-- new end-->


        <aside id="info">
            <section>
                <div class="quote"> Tadpoles fork from <a href="http://rumpetroll.com/"
                        target="_blank">rumpetroll.com</a> &nbsp;&nbsp;&nbsp;&nbsp; </div>
                <!-- <div> Tadpoles fork from <a href="http://rumpetroll.com/" target="_blank">rumpetroll.com</a> &nbsp;&nbsp;&nbsp;&nbsp; 后端使用Node+TypeScript </div> -->
            </section>
        </aside>

        <div id="cant-connect">
            与服务器断开连接了，您可以重新打开页面试试...
        </div>
    </div>


    <!-- setting ui -->
    <a class='setting' href='#' id='js-setting'></a>

    <div class='page-flex'>
        <div class='panel' id='js-panel'>
            <div class='panel__content'>
                <h4>设置</h4>

                <div class="floating-label-box">
                    <input type="text" class="floating-label-field floating-label-field--s0" id="nickname"
                        placeholder="昵称">
                    <label for="nickname" class="floating-label">昵称</label>
                </div>

                <div id="gender-switch">
                    <input type="checkbox" id="checkbox">
                    <div id="path"></div>
                    <div id="knob">
                        <!-- <div id="bow"><i class="icon ion-md-bowtie"></i></div> -->
                        <div id="bow">
                            <div class="bowtie"></div>
                        </div>

                    </div>
                    <div id="gender">
                        <div id="fe">FE</div>
                        <div id="male"><span>MALE</span></div>
                    </div>
                </div>

            </div>
            <div class='panel__flaps'>
                <div class='flap outer flap--left'></div>
                <a class='flap flap__btn' id="idok" href='#'>确定</a>
                <a class='flap flap__btn' id="idcancel" href='#'>取消</a>
                <div class='flap outer flap--right'></div>
            </div>
        </div>
    </div>
    <!-- setting ui end -->

    <!-- vscode扩展不支持cookie -->

    <script src="./js/lib/vue-2.6.11.min.js"></script>
    <script src="./js/passingMessage.js"></script>

    <script src="./js/lib/parseUri.js"></script>
    <script src="./js/lib/jquery.min.js"></script>
    <script src="./js/lib/Stats.js"></script>

    <script src="./js/App.js"></script>
    <script src="./js/Model.js"></script>
    <script src="./js/Settings.js"></script>
    <script src="./js/Keys.js"></script>
    <script src="./js/WebSocketService.js"></script>
    <script src="./js/Camera.js"></script>

    <script src="./js/Tadpole.js"></script>
    <script src="./js/TadpoleTail.js"></script>

    <script src="./js/Message.js"></script>
    <script src="./js/WaterParticle.js"></script>
    <script src="./js/Arrow.js"></script>

    <script src="./js/main.js"></script>
    <script src="./js/Ui.js"></script>
    <script src="./js/formControls.js"></script>
    <script src="./js/World.js"></script>


    <script type="text/javascript">
        $("#world").bind("DOMNodeInserted", function (e) {
            $(".logs .message .content[urlFlag='1']").each(function () {
                var text = $(this).html();
                if (text.indexOf("[") != -1 && text.indexOf("]") != -1) {
                    text = replaceUrl(text);
                    $(this).attr('urlFlag', '0');
                    $(this).html(text);
                }
            });
        })

        function replaceUrl(text) {
            if (text.indexOf("[") != -1 && text.indexOf("]") != -1) {
                var address = text.substring(text.indexOf("[") + 1, text.indexOf("]"));
                address = '<a href="http://' + address + '" target="_blank">' + address + '</a>';
                var replaceOld = text.substring(text.indexOf("["), text.indexOf("]") + 1);
                text = text.replace(replaceOld, address);
            }
            return text;
        }

        function replaceUrl2(text) {
            if (text.indexOf("[") != -1 && text.indexOf("]") != -1) {
                text = text.replace('[', '');
                text = text.replace(']', '');
            }
            return text;
        }

        function dealWithFlag(content) {
            if (content.indexOf("[") != -1 && content.indexOf("]") != -1) {
                return '1';
            } else {
                return '0';
            }
        } $("#world").bind("DOMNodeInserted", function (e) {
            $(".logs .message .content[urlFlag='1']").each(function () {
                var text = $(this).html();
                if (text.indexOf("[") != -1 && text.indexOf("]") != -1) {
                    text = replaceUrl(text);
                    $(this).attr('urlFlag', '0');
                    $(this).html(text);
                }
            });
        })


        function replaceUrl(text) {
            if (text.indexOf("[") != -1 && text.indexOf("]") != -1) {
                var address = text.substring(text.indexOf("[") + 1, text.indexOf("]"));
                address = '<a href="http://' + address + '" target="_blank">' + address + '</a>';
                var replaceOld = text.substring(text.indexOf("["), text.indexOf("]") + 1);
                text = text.replace(replaceOld, address);
            }
            return text;
        }

        function replaceUrl2(text) {
            if (text.indexOf("[") != -1 && text.indexOf("]") != -1) {
                text = text.replace('[', '');
                text = text.replace(']', '');
            }
            return text;
        }

        function dealWithFlag(content) {
            if (content.indexOf("[") != -1 && content.indexOf("]") != -1) {
                return '1';
            } else {
                return '0';
            }
        }
    </script>
</body>

</html>